<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      /* Optional custom styles */
      .container {
        max-width: 500px;
      }
      .form-group {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Edit Data</h2>
      <form action="{{ route('user.update',{id:user?.id}) }}" class="login-form" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="nama"
            placeholder="Enter your name"
            required
            value="{{ user?.nama }}"
          />
        </div>
        <div class="form-group">
          <label for="name">NIM:</label>
          <input
            type="text"
            class="form-control"
            id="nim"
            name="nim"
            placeholder="Enter your NIM number"
            required
            value="{{ user?.nim }}"
          />

          <div class="form-group">
            <label for="status">Status:</label>
            <input
              type="text"
              class="form-control"
              id="status"
              name="status"
              required
              value="{{ user?.status }}"
            />
          </div>
        <div class="form-group">
          <label for="daftarulang">daftar ulang:</label>
          <input
            type="text"
            class="form-control"
            id="daftarulang"
            name="daftarUlang"
            placeholder="Enter your password"
            required
            value="{{ user?.daftarUlang }}"
          />
        </div>
        <button type="submit" class="btn btn-primary">Edit Data</button>
        <br>
        <br>
        <a type="button" class="btn btn-danger" href="/user">back</a>
      </form>
    </div>

    <!-- Bootstrap JS (optional, only needed if you require JavaScript features from Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
