<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      /* Optional custom styles */
      .container {
        max-width: 500px;
      }
      .form-group {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Edit Data</h2>
      <form action="{{ route('register') }}" class="login-form" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="nama"
            placeholder="Enter your name"
            required
            value="{{ user[0]?.nama }}"
          />
        </div>
        <div class="form-group">
          <label for="name">NIM:</label>
          <input
            type="text"
            class="form-control"
            id="nim"
            name="nim"
            placeholder="Enter your NIM number"
            required
            value="{{ user?.nim }}"
          />
        </div>
        <div class="form-group">
          <label for="age">Age:</label>
          <input
            type="number"
            class="form-control"
            id="age"
            name="umur"
            placeholder="Enter your age"
            required
            value="{{ user?.umur }}"
          />
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
            value="{{ user?.email }}"
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
            value="{{ user?.password }}"
          />
        </div>
        <div class="form-group">
          <label for="password">daftar ulang:</label>
          <input
            type="text"
            class="form-control"
            id="daftarulang"
            name="daftarulang"
            placeholder="Enter your password"
            required
            value="{{ user?.daftarUlang }}"
          />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>

    <!-- Bootstrap JS (optional, only needed if you require JavaScript features from Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
